---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.top-buffer { margin-top:20px; }

body {
	background-image: url("/img/thomas-heintz-769574-unsplash.jpg");
  }
/*
#mainNav {
	background-image: url("/img/thomas-heintz-769574-unsplash.jpg");
}
*/
