<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  <!-- Page Header -->

  <header class="masthead">

    <div class="container">

      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">

        </div>
      </div>

    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        {{ content }}

      </div>
    </div>
  </div>


  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>